<section class="text-gray-600 body-font">
  <div
    class="container mx-auto flex px-5 py-24 items-center justify-center flex-col"
  >
    <!-- <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://dummyimage.com/720x600"> -->
    <div class="text-center lg:w-2/3 w-full">
      <h1
        class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"
      >
        Your Voice Matters. Let’s Build Ferthos Together.
      </h1>
      <p class="mb-8 leading-relaxed">
        We believe real change begins with real conversations. Whether you’re a
        customer, a supporter, or just curious — we’re here, and we’re
        listening.<br />
        <strong
          >Don’t hold back. Speak up. Let’s shape something powerful.</strong
        >
      </p>
      <div class="flex justify-center">
        <a
          href="#contactForm"
          class="inline-flex text-white bg-black border-0 py-2 px-6 focus:outline-none hover:bg-white hover:text-black hover:border-2 border-indigo-700 rounded-full text-lg"
        >
          Contact Us Now
        </a>
      </div>
    </div>
  </div>
</section>
