<header class="shadow-md sticky top-0 z-50">
  <nav class="container mx-auto flex items-center justify-between p-2">
    <!-- Left side: Logo + Navigation links -->
    <div class="flex items-center space-x-8">
      <!-- Logo -->
      <a
        class="flex items-center w-40 hover:scale-115 transition-transform duration-300 ease-in-out"
      >
        <img
          src="assets/images/Frethos_Logo.png"
          alt="Frethos Logo"
          class="w-full"
        />
      </a>

      <!-- Navigation Links -->
      <ul class="flex space-x-5">
        <li
          class="hover:text-gray-900 cursor-pointer text-md inline-flex items-center px-3 rounded-full text-base text-gray-900 hover:bg-gray-100 transition hover:scale-105 shadow py-2"
        >
          <a href="index.html" class="underline">Home</a>
        </li>
        <li
          class="hover:text-gray-900 cursor-pointer text-md inline-flex items-center px-3 rounded-full text-base text-gray-900 hover:bg-gray-100 transition hover:scale-105 shadow py-2"
        >
          <a href="catalog.html">Catalog</a>
        </li>
        <li
          class="hover:text-gray-900 cursor-pointer text-md inline-flex items-center px-3 rounded-full text-base text-gray-900 hover:bg-gray-100 transition hover:scale-105 shadow py-2"
        >
          <a href="contact.html">Contact</a>
        </li>
      </ul>
    </div>

    <!-- Right side: Auth buttons + Cart -->
    <ul class="flex items-center space-x-4">
      <li>
        <a
          href="login.html"
          class="inline-flex items-center px-4 rounded-full text-sm hover:font-bold text-gray-900 hover:bg-gray-100 transition hover:scale-105 py-2 shadow-md"
        >
          Login
        </a>
      </li>
      <li>
        <a
          href="register.html"
          class="inline-flex items-center px-4 rounded-full text-sm hover:font-bold text-gray-900 hover:bg-gray-100 transition hover:scale-105 py-2 shadow-md"
        >
          Register
        </a>
      </li>
      <!-- <li>
        
      </li> -->
    </ul>
  </nav>

</header>
