<div class="container px-5 pt-10 pb-6 mx-auto">
  <div class="flex flex-wrap w-full mb-20">
    <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
      <h1
        class="sm:text-2xl text-xl font-medium title-font mb-2 text-gray-900 hover:text-indigo-600 transition duration-300 ease-in-out cursor-pointer"
      >
        View All Products
      </h1>
      <div
        class="h-1 w-20 bg-black rounded hover:bg-indigo-600 transition duration-300 ease-in-out"
      ></div>
    </div>
    <!-- <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom prism food truck ugh squid celiac humblebrag.</p> -->
  </div>
  <!-- products -->
  <div id="products" class="flex flex-wrap -m-3 items-center">
    <!-- product card -->
  </div>
</div>

<!-- prev and next buttons -->

<div class="text-center mt-5 mb-3">
  <button
    id="prevBtn"
    class="bg-gray-200 hover:bg-gray-300 text-gray-800 hover:font-bold py-2 px-4 rounded-lg text-md"
  >
    Prev
  </button>
  <span id="pagination" class="mx-2 font-bold text-sm"></span>
  <button
    id="nextBtn"
    class="bg-gray-200 hover:bg-gray-300 text-gray-800 hover:font-bold py-2 px-4 rounded-lg text-md"
  >
    Next
  </button>
</div>
